<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.0/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         stopOnFailure="false"
         failOnWarning="true"
         failOnRisky="true">

    <!-- Переменные окружения -->
    <php>
        <env name="APP_ENV" value="test"/>
        <env name="APP_DEBUG" value="1"/>
        <env name="KERNEL_CLASS" value="App\Kernel"/>
    </php>

    <!-- Наборы тестов -->
    <testsuites>
        <testsuite name="Client Module Test Suite">
            <directory>src/Model/Client/Test</directory>
        </testsuite>

        <testsuite name="Loan Module Test Suite">
            <directory>src/Model/Loan/Test</directory>
        </testsuite>
    </testsuites>

    <!-- Покрытие кода -->
    <coverage>
        <include>
            <directory>src/Model/Client</directory>
            <directory>src/Model/Loan</directory>
        </include>
    </coverage>
</phpunit>
